.header-container{
    border-bottom: 1px solid #DBDBDB;
    height: 54px;
    position: fixed;
    .appHeader{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

