.header-container{
    border-bottom: 1px solid #DBDBDB;
    background: linear-gradient(to right,  #F7C5DB, #CDB7EC);
    height: 54px;
    position: fixed;
    align-items: center;
    z-index: 10;
    .appHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand{
            font-weight: 500;
            font-size: 20px;
            color: #881897;
        }
    }
}

