.admin-table-listing th, .admin-table-listing td {
  vertical-align: middle;
  word-break: break-all;
}
.admin-table-listing td {
  font-size: 0.97rem;
}
.admin-table-listing img {
  display: block;
  margin: 0 auto;
}
