@import "../../commons/Common.scss";
.catalogue{
    
    .page-header{
        align-items: center;
        gap:30px;
        .profile-image-name{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .profile-brand{
                display: flex;
                justify-content: center;
            }
            .pageName{
                color: black;
                font-size: 1.25rem;
                font-weight: bold;

            }
            .pageDesc{
                font-size: 11px;
                white-space: pre;
                line-height: 0;
                margin-top: -5px;
            }
        }
        .profile-stats-desc{
            .stats{
                display: flex;
                gap: 1rem;
                .stat-entry{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    line-height: 20px;
                    .stat-count{
                        text-align: center;
                        font-weight: bold;
                        font-size: 1.5rem;
                        justify-content: center;
                    }
                    .stat-value{
                        font-weight: normal;
                        font-size: 1rem;
                        justify-content: center;
                    }
                }
            }
            .description{
                margin-top: 0.5rem;
            }
        }
    }

    .subcategories{
        display: flex;
        gap: 10px;
        height: 40px;
        align-items: center;
        overflow: auto;
        .sub-category{
            border: 1px solid #DBDBDB;
            border-radius: 8px;
            padding: 2px 7px;
            height: 24px;
            cursor: pointer;
            &.selected{
                border : 1px solid $primary;
                background: #ecdffd;
                color: black;
            }
            white-space: nowrap;
        }
    }

    .search-container {
        width: 100%;
        .search-bar {
            position: relative;
            width: 100%;
            .search-icon {
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                color: $grey-dark;
            }
            .search-input {
                border-radius: 8px;
                width: 100%;
                padding: 12px 20px 12px 45px;
                border: 1px solid #DBDBDB;
                font-size: 14px;
                &:focus {
                    outline: none;
                    border-color: $primary;
                }
            }
        }
    }

    .highlight-filters{
        display: flex;
        overflow: auto;
        gap: 30px;
        .highlight-key{
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            &.selected{
                color: #032765;
            }
        }
        .highlight-container{
            border-radius: 100%;
            padding: 3px;
            border: 2px solid #F1F1F1;
            width: 5.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &.selected{
                border: 2px solid $primary;
            }
            img{
                width: 5rem;
                height: 5rem;
                
            }
        }
    }

    .posts{
        .loader{
            width: 100%;
            height: 3px;
            background: #F1F1F1;
            &.active{
                background: linear-gradient(45deg, #F1C3DD, #ade9db, #86c5db, #D2B7EA);
            }
            animation: gradient 2s ease infinite;
            -webkit-animation: gradient 2s ease infinite;
            background-size: 400% 400%;
            @-webkit-keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 50% 100%;
                }
                100% {
                    background-position: 3% 5%;
                }
            }
        }
        .post-container{
            cursor: pointer;
            .post{
                height: 100%;
                width: 100%;
            }
        }
    }
}