.catalogue{
    padding-top: 100px;
    .page-header{
        align-items: center;
        gap:30px;
        .profile-image-name{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .profile-brand{
                display: flex;
                justify-content: center;
            }
        }
        .profile-stats-desc{
            .stats{
                display: flex;
                gap: 1rem;
                .stat-entry{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    line-height: 20px;
                    .stat-count{
                        text-align: center;
                        font-weight: bold;
                        font-size: 1.5rem;
                        justify-content: center;
                    }
                    .stat-value{
                        font-weight: normal;
                        font-size: 1rem;
                        justify-content: center;
                    }
                }
            }
            .description{
                margin-top: 0.5rem;
            }
        }
    }


    .highlight-filters{
        display: flex;
        overflow: scroll;
        gap: 30px;
        .highlight-key{
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            &.selected{
                color: #032765;
            }
        }
        .highlight-container{
            border-radius: 100%;
            padding: 3px;
            border: 1px solid #F1F1F1;
            width: 5.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &.selected{
                border: 1px solid #032765;
            }
            img{
                width: 5rem;
                height: 5rem;
                
            }
        }
    }

    .posts{
        .post-container{
            cursor: pointer;
            .post{
                height: 100%;
                width: 100%;
            }
        }
    }
}